.classpath
.project
.settings/
.vscode/
target/

src/main/resources/public/node_modules
src/main/resources/public/node_modules/
src/main/resources/public/public/node/
src/main/resources/public/.vscode/
src/main/resources/public/bundle.js
src/main/resources/public/fonts/fa

src/main/resources/server/node_modules
src/main/resources/server/build

src/main/resources/quanta-common/node_modules
src/main/resources/quanta-common/dist
src/main/resources/quanta-common/.yarn
src/main/resources/quanta-common/yarn.lock
src/main/resources/quanta-common/package-lock.json
src/main/resources/quanta-common/.envrc
src/main/resources/quanta-common/lib


src/main/resources/public/dist
src/main/resources/templates
src/main/resources/public/node
